<div class="container">
    <div class="container mt-5">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row ">
                    <div class="col-sm-6">
                        <h2>Abministracion de <b>Habitaciones</b></h2>
                    </div>
                    <div class="col-sm-6 ml">
                        <a href="" class="btn btn-success m-2" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar una nuevas Habitacion</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>No.Habitacion</th>
                        <th>Imagen</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let habitacion of habitaciones">
                        <td>{{habitacion.id}}</td>
                        <td>{{habitacion.title}}</td>
                        <td>{{habitacion.room_numb}}</td>
                        <td>
                            <img src="http://localhost:8000/uploads/{{ habitacion.image}}" style="width: 100px" />
                        </td>
                        <td>{{habitacion.description}}</td>
                        <td>{{habitacion.price}}</td>
                        <td>
                            <a class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>    